
#header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 35px;
    background-color: lightskyblue;
    padding: 15px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

#bio-div {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    max-width: 600px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#summary-div {
    width: 240px;
    margin: 15px;
    max-height: 300px;
}

#headshot-div {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    max-height: 300px;
}